<div class="limiter">
  <div class="container-login100" style="background-color: #3C8DBC">
    <div class="wrap-login100">
      <div class="login100-form-title coverBg" style="background-image: url(../../assets/images/pemda.jpg);">
        <span class="login100-form-title-1">
          Sign In
        </span>
      </div>

      <form class="login100-form validate-form" ng-submit="login.login()">
          <!-- <img src="http://10.2.1.32:8099/api/get-logo-bekasi"> -->
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Username</span>
          <input type="text" class="input100" placeholder="NIP" id="nip" ng-model="nip" width="300" autofocus>
          <span class="focus-input100"></span>
        </div>
        <span style="float:right; margin-right: -20px;margin-top: 15px;">
            <a href="#hapus" id="remove" data-val="1"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
          <span class="label-input100">Password</span>
          <input type="password" class="input100" name="password" id="pwd" placeholder="Password" ng-model="password">
          <span class="focus-input100"></span>
        </div>
        <span style="float:right; margin-right: -20px;margin-top: 15px;">
            <a href="#lihat" id="showhide" data-val='1'><span id='eye' class="glyphicon glyphicon-eye-open"></span></a>
        </span>

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a href="#" class="txt1">
              Forgot Password?
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function()
    {
        $("#showhide").click(function()
        {
            if ($(this).data('val') == "1")
            {
                $("#pwd").prop('type','text');
                $("#eye").attr("class","glyphicon glyphicon-eye-close");
                $(this).data('val','0');
            }
            else
            {
                $("#pwd").prop('type', 'password');
                $("#eye").attr("class","glyphicon glyphicon-eye-open");
                $(this).data('val','1');
            }
        });
    });

    $(document).ready(function()

    {
        $("#remove").click(function()
        {
            $("#nip").val('');
            $("#pwd").val('');
        });

    });

    $(document).ready(function(){
      $(document).mousemove(function(e){
         TweenLite.to($('body'),
            .5,
            { css:
                {
                    'background-position':parseInt(event.pageX/8) + "px "+parseInt(event.pageY/12)+"px, "+parseInt(event.pageX/15)+"px "+parseInt(event.pageY/15)+"px, "+parseInt(event.pageX/30)+"px "+parseInt(event.pageY/30)+"px"
                }
            });
      });
    });
</script>
